.form {
    background-color: rgb(252, 252, 252);
    margin: 10px auto;
    max-width: 700px;
    font-size: 20px;
    text-align: center;
}

.form__header {
    text-align: center;
}

.form__labelText {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.form__field {
    border: 2px solid rgb(24, 18, 18);
    padding: 10px;
    width: 100%;
}

.form__button {
    background-color: rgb(102, 238, 161);
    border-radius: 3px;
    color: rgb(18, 29, 12);
    padding: 20px;
    width: 100%;
    font-size: 25px;
}

.form__info {
    background-color: skyblue;
    padding: 8px;
    width: 100%;
}

.form__result {
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 30px;
}