html {
    box-sizing: border-box;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }
  
  body {
    max-width: 1000px;
    font-family: "Ubuntu", sans-serif;
    background-image: url("../images/money2.jpg")
  }

  .form {
    background-color: rgb(252, 252, 252);
    margin: auto;
    padding: 30px;
    width: 100%;
  }
  .form__result {
    text-align: center;
  }

