html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  width: 100%;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  background-image: url("../images/money2.jpg");
}